<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Shorten URL</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles/main.css">
</head>
<body bgcolor="#cccccc">
	<hr size="5" align="center" noshade width="90%" color="black">
	<h1>
	<font color="black">Shorten URL</font>
	</h1>
	<hr size="5" align="center" noshade width="90%" color="black">
	{% if not shorten_url %}
	<form action="/submit" method="POST">
		<label for="">
                <span></span><br>
		<font color="black">
		Please input the url you want be shorten.<br><br>
                ex. http://www.google.com<br><br>
		</font>
                <span></span><br>
		</label>
		<input type="text" name="orginal_url">
		<button type="submit">submit</button>
	</form>
	{% endif %}

        {% if shorten_url && orginal_url %}
        <span></span><br>
	<span>{{ orginal_url }}</span><br>
	<span></span><br>
        <span>shorten url is </span><br>
        <span></span><br>
        <a href="http://webapp-lb-658889317.ap-southeast-1.elb.amazonaws.com/{{ shorten_url }}" target="_blank" title="http://webapp-lb-658889317.ap-southeast-1.elb.amazonaws.com/{{ shorten_url }}">http://webapp-lb-658889317.ap-southeast-1.elb.amazonaws.com/{{ shorten_url }}</a>
	</form>
        {% endif %}
</body>
</html>
